# Virtual Environment
venv/
env/

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# Logs
*.log